body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
    background-image: radial-gradient(yellow, rgb(255, 208, 0));
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100px;
}

header a {
    font-family: 'Titan One', sans-serif;
    text-decoration: none;
    font-size: 3.5rem;
    font-weight: 200;
    color: green;
}

header a:hover {
    text-decoration: none;
    color: green;
}

.search {
display: flex;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
border-radius: 5px;
}

.search input {
border: none;
border-radius: 5px 0 0 5px;
width: 45vw;
padding: 5px;
}

.search input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.search button {
    background-color: white;
    border: none;
    padding: 8px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search button:hover {
    background-color: rgb(233, 231, 231);
}

.nav-header {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    height: 45px;
}

.nav-header a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    width: 20vw;
    height: 45px;
    font-size: 40px;
}

.nav-header a:hover {
    color: rgb(3, 82, 3);
}

/* Body */

section{
    padding: 10px 5px;
    display: flex;
    margin: 20px 20px 0;
}

.payment{
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 500px;
    height: fit-content;
    border: 2px solid rgba(197, 195, 195, 0.404);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.253);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: 600;
}

.payment-method{
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
}

.payment-method:first-child{
    margin-top: 10px;
}

.payment-method span{
    padding-left: 10px;
}

.radio{
    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid rgb(64, 120, 224);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.radio::before{
    position: absolute;
    height: 20px;
    width: 20px;
    background: rgb(64, 120, 224);
    content: "";
    border-radius: 50%;
    opacity: 0; 
    transition:  200ms ease-in-out;
}
.radio:checked::before{
    opacity: 1;
}



.payment-form{
    padding: 0 25px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 2fr 0.5fr);
    gap: 20px;
}

h2{
    text-align: center;
    margin-bottom: 15px;

}

.form{
    background-color: #eee;
    display: flex;
    height: fit-content;
    align-items: center;
    border: 2px solid rgba(197, 195, 195, 0.404);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(126, 126, 126, 0.253);
    padding: 20px;
    width: 500px;
}

.form-item{
    margin-bottom: 20px;
}

.form-item input{
    width: 100%;
    padding: 5px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
}

.form-item input:focus{
   outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}


.form button{
    width: 100%;
    background-color:  rgb(255, 208, 0);
    border: 2px solid rgb(255, 190, 0);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 17px;

}
.form button:hover{
    background-color:  rgb(255, 240, 0);
    border-color: rgb(255, 220, 0);

}

.form-value{
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    font-weight: 600;
}



.boleto, .cartao, .pix, .picpay{
    display: none;
}


@media(max-width: 850px){
    section{
        flex-direction: column;
        align-items: center;
    }

    .payment{
        margin-bottom: 25px;
        max-width: 500px;
    }
}